<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">	<!-- 여기서 부터 끝까지 붙여 넣음 -->

<configuration>
<settings>
<setting name="cacheEnabled" value="false"/>
<setting name="useGeneratedKeys" value="true"/>
<setting name="defaultExecutorType" value="REUSE"/>
</settings>

<typeAliases>	<!-- domain에 있는 ValueObject의 별명을 지어주어 mapper.xml에서 사용하기 쉽게 해준다. 얼마든지 추가 가능! -->
<typeAlias type="net.su.bcms.valueObject.NmeCardValueObject" alias="nmeCardVo"/>
<typeAlias type="net.su.bcms.valueObject.NmeCardHistrValueObject" alias="nmeCardHistrVo"/>
<typeAlias type="net.su.bcms.valueObject.SearchAndPageValueObject" alias="sapVo"/>
<typeAlias type="net.su.login.valueObject.MemValueObject" alias="memVo"/>
<typeAlias type="net.su.base.valueObject.BaseValueObject" alias="baseVo"/>
<typeAlias type="net.su.bcms.valueObject.ComnctnNmeCardValueObject" alias="comnctnNmeCardVo"/>
<typeAlias type="net.su.bcms.valueObject.ComnctnSearchAndPageValueObject" alias="comnctnSapVo"/>
<typeAlias type="net.su.shar.valueObject.SharValueObject" alias="sharVo"/>
<typeAlias type="net.su.shar.valueObject.SharSearchAndPageValueObject" alias="sharSapVo"/>
<typeAlias type="net.su.bcms.valueObject.GroupValueObject" alias="groupVo"/>
<typeAlias type="net.su.bcms.valueObject.MemPageValueObject" alias="mpVo"/>
<typeAlias type="net.su.login.valueObject.CompnValueObject" alias="compnVo"/>
</typeAliases>

<mappers>	<!-- 사용할 mapper.xml의 위치를 setting해 두는 곳이다. 얼마든지 추가 가능! -->
<mapper resource="/mybatis/sql/nmeCardMapper.xml"/>
<mapper resource="/mybatis/sql/memMapper.xml"/>
<mapper resource="/mybatis/sql/baseMapper.xml"/>
<mapper resource="/mybatis/sql/recvNmeCardMapper.xml"/>
<mapper resource="/mybatis/sql/sharNmeCardMapper.xml"/>
<mapper resource="/mybatis/sql/sharMapper.xml"/>
<mapper resource="/mybatis/sql/groupMapper.xml"/>
</mappers>

</configuration>